<!-- Scripts -->
<script src="{{ site.path }}/js/jquery.min.js"></script>
<script src="{{ site.path }}/js/jquery.scrollex.min.js"></script>
<script src="{{ site.path }}/js/jquery.scrolly.min.js"></script>
<script src="{{ site.path }}/js/skel.min.js"></script>
<script src="{{ site.path }}/js/util.js"></script>
<!-- Filterizr -->
<script src="{{ site.path }}/js/jquery.filterizr.js"></script>
<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.path }}/js/main.js"></script>
<script type="text/javascript">
var filterizd = $('.filtr-container').filterizr({
   	//options object
});
</script>
