<!-- Scripts -->
<script src="{{ site.path }}/js/jquery.min.js"></script>
<script src="{{ site.path }}/js/jquery.scrollex.min.js"></script>
<script src="{{ site.path }}/js/jquery.scrolly.min.js"></script>
<script src="{{ site.path }}/js/skel.min.js"></script>
<script src="{{ site.path }}/js/util.js"></script>
<!-- Filterizr -->
<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.path }}/js/main.js"></script>
<script src="{{ site.path }}/js/jquery.filterizr.js"></script>
<!-- <script src="{{ site.path }}/js/controls.js"></script> -->
<script src="{{ site.path }}/js/filterizr-app.js"></script>
<!-- Responsive Slider -->
<script src="{{ site.path }}/js/responsiveslides.min.js"></script>
<script>
  $(function() {
    $(".artist-spotlight").responsiveSlides();
  });
</script>
