---
layout: artist
type: artist
title: Rumba de Bodas
subtitle: Bologna Super Group
tags: balkan
bgimage: 2016_09_Rumba_de_Bodas_page.jpg
---
<section class="wrapper style5">
    <div class="inner">

        <div class="video">
            <iframe src="https://www.youtube.com/embed/nBQOmO9Yjdw" frameborder="0" allowfullscreen></iframe>
        </div>
        <section>
            <p>
                RUMBA de BODAS formed in 2008, from the union of eight musician with very different energies, experiences and ideas. Over the years it developed an exquisitely singular style, which blends together latin grooves, Balkan, Swing, Ska and Reggae and has
                had people dancing under stages everywhere from Italy to London, and from Romania to Spain.
            </p>
            <p>
                They love brass sections, upbeat music, all sort of traditional folky sort of stuff, but mainly they love to mix all of this together, throwing in half a kilo of chili powder to make sure you're going to stomp your feet as much as possible. It is this
                very mix of genres, freely mixing south American vibes, Middle European melodies and Ska, the whole mixed up with a touch of Carnival Jazziness.
            </p>

            <hr />
            <header>
                <h4>On Tour</h4>
            </header>
            <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing
                blandit tempus accumsan.</p>
            <hr />
            <header>
                <h4>Press</h4>
            </header>
            <blockquote>The perfect post-Carnival shot. The exuberant cabaret-swing of Rumba da Bodas returns after a series of sell out shows last year. Starting life as a loose collective in the backstreet music bars of Bologna, Italy, they fuse Latin, Ska, Balkan
                and Swing ideas into an ever-changing musical mix. </blockquote>
            <p>
                <sub>- <i>The List Edinburgh</i></sub>
                <hr />
                <h4>You might also like...</h4>
                <!-- <ul class="actions fit small">
                    {% assign listed_page_urls = page.url | split: ' ' %}
                      {% for tag in page.tags %}
                        {% for my_page in site.pages %}
                        {% if listed_page_urls contains my_page.url %}
                        {% else %}
                          <li class="button special fit"><a href="{{ my_page.url }}">{{ my_page.title }}</a></li>
                          {% assign listed_page_urls = listed_page_urls | push: my_page.url %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </ul> -->
        </section>

    </div>
</section>
