---
layout: page
type: misc
title: Artist
subtitle: Meet the Ludwig Family
---


<section>
    <h2>Live Roster</h2>
    <ul class="actions fit small">
        <li class="show-all-bands" data-filter="all"><a class="button special fit">Live Roster</a></li>
        <li class="vintage-electro" data-filter="1"><a class="button special fit">Vintage Electro</a></li>
        <li class="balkan-world" data-filter="2"><a class="button special fit">Balkan/World</a></li>
        <li class="blues-rock" data-filter="3"><a class="button special fit">Blues/Rock</a></li>
    </ul>
    <div class="box alt">
        <div id="live-roster" class="row uniform 50% filtr-container grid cs-style-6">
            {% for my_page in site.pages %}
              {% if my_page.type == "live" %}
            <div class="4u filtr-item" data-category="{{ my_page.filtr }}" data-sort="value">
                <div class="image fit"><img src="{{ site.baseurl }}/images/{{ my_page.rosterimg }}" alt="{{ my_page.title }}" />
                <div class="caption"><a href="{{ my_page.url }}">{{ my_page.title }}</a></div>
              </div>
            </div>
              {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<hr/>
<section>
    <h2>DJ Roster</h2>
    <ul class="actions fit small">
        <li class="show-all-djs" data-filter="all"><a class="button special fit">DJ Roster</a></li>
        <li class="vintage-electro-dj" data-filter="4"><a class="button special fit">Vintage Electro</a></li>
        <li class="global-bass" data-filter="5"><a class="button special fit">Global Bass</a></li>
    </ul>
    <div class="box alt">
        <div id="dj-roster" class="row uniform 50% filtr-container2 grid cs-style-6">
            {% for my_page in site.pages %}
              {% if my_page.type == "dj" %}
            <div class="4u filtr-item" data-category="{{ my_page.filtr }}" data-sort="value">
                <div class="image fit"><img src="{{ site.baseurl }}/images/{{ my_page.rosterimg }}" alt="{{ my_page.title }}" />
                <div class="caption"><a href="{{ my_page.url }}">{{ my_page.title }}</a></div>
              </div>
            </div>
              {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
