---
layout: default
---


<article id="main">

    <header {% if page.bgimage %}style="background-image: url({{ site.path }}/images/{{ page.bgimage }})" {% endif %}>
        <div class="inner">
            <h2>{{ page.title }}</h2>
            <p>{{ page.subtitle }}</p>
        </div>
    </header>

    {{ content }}

    <section id="cta" class="wrapper style4">
        <div class="inner">
            <header>
                <h4>Like this artist?</br>
                  Get in touch!</h4>
                <p>Tel: +49 (0)176 99775788</p>
                <p>booking(a)ludwigsound.com</p>
            </header>
            <div class="actions vertical">
                <form method="post" action="form-test.txt">
                    <div class="row uniform">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
                        </div>
                        <!-- <div class="12u$">
                    <div class="select-wrapper">
                      <select name="demo-category" id="demo-category">
                        <option value="">- Category -</option>
                        <option value="1">Book an artist</option>
                        <option value="1">Assign for Event Consultant</option>
                        <option value="1">Wedding</option>
                        <option value="1">Other</option>
                      </select>
                    </div>
                  </div> -->
                        <!-- <div class="4u 12u$(small)">
                    <input type="radio" id="demo-priority-low" name="demo-priority" checked>
                    <label for="demo-priority-low">Low</label>
                  </div>
                  <div class="4u 12u$(small)">
                    <input type="radio" id="demo-priority-normal" name="demo-priority">
                    <label for="demo-priority-normal">Normal</label>
                  </div>
                  <div class="4u$ 12u$(small)">
                    <input type="radio" id="demo-priority-high" name="demo-priority">
                    <label for="demo-priority-high">High</label>
                  </div> -->
                        <div class="6u 12u$(small)">
                            <input type="checkbox" id="demo-copy" name="demo-copy">
                            <label for="demo-copy">Email me a copy</label>
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input type="checkbox" id="demo-human" name="demo-human" checked>
                            <label for="demo-human">Not a robot</label>
                        </div>
                        <div class="12u$">
                            <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                        </div>
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" class="button fit special" /></li>
                                <li><input type="reset" value="Reset" class="button fit" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="wrapper style4">
        <div class="inner">
          <h4>You might also like:</h4>

          {% assign currentTag = page.tags %}
          {% assign currentTitle = page.title %}

            <ul class="actions fit small">
                {% assign counter = '0' %}
                {% for page in site.pages %}
                  {% if page.tags contains currentTag and page.title != currentTitle and counter < '9' %}
                    {% capture counter %}{{ counter | plus: '1' }}{% endcapture %}
                    <li><a class="button special fit" href="{{ page.url | prepend: site.baseurl }}">{{page.title}}</a></li>
                  {% endif %}
                {% endfor %}
                {% if counter == '0' %}<span class="noOtherPages"><p>No other pages.</p></span>{% endif %}
            </ul>
        </div>
    </section>
</article>
